flask==3.0.2
flask-cors==4.0.0
flask-limiter==3.5.1
python-dotenv==1.0.1
pymongo==4.6.1
google-generativeai==0.3.2
azure-cognitiveservices-vision-computervision==0.9.0
pillow==10.2.0
opencv-python-headless==4.9.0.80
ultralytics==8.1.27
python-multipart==0.0.9
